{% include "head.html" %}

{% include "menu.html" %}

<p style="font-size: 30pt; text-align: center">English Note&nbsp&nbsp|&nbsp&nbsp<a href="{{ web_url }}english/update/{{ english_text_detail.id }}/"><span style="font-weight: normal">Update</a></p>
<br><br>
<table>
    <tr>
        <td style="font-weight: bold">Text</td>
        <td style="font-size: 30px;">

            {% for key, value in english_dict.items %}

                {{ value.english_text|safe }}

            {% endfor %}

        </td>
    </tr>
    <tr>
        <td style="font-weight: bold">Analysis</td>
        <td>
            {% for key, value in statistics_tag.items %}


                    {{ key }}:&nbsp&nbsp{{ value.2 }}<br>


            {% endfor %}

        </td>
    </tr>


    <tr>
        <td style="font-weight: bold">Notes</td>
        <td>{{ english_text_detail.note }}</td>
    </tr>

</table>


<br>
<audio controls>
    <source src="{{ MEDIA_URL }}english/text_to_speech/{{ english_text_detail.audio_name }}" type="audio/mpeg">
    Your browser does not support the audio element.
</audio>

<p>--------------------------------------------------------------</p>

Source:&nbsp&nbsp

<a href="{{ web_url }}english/list_by_source/{{ source.id }}/"> {{ source.type }}&nbsp -
    &nbsp{{ source.name }}({{ source.author }})&nbsp @ &nbsp{{ reference.english_text_location }}
</a>


Tag:&nbsp&nbsp
{% for item in tag %}

    <a href="{{ web_url }}english/list_by_tag_get/{{ item.id }}/">{{ item.name }}</a>&nbsp&nbsp

{% endfor %}
<p>--------------------------------------------------------------</p>


<br><br><br>
<details>
    <summary style="font-size: 30pt; text-align: center">Source Info</summary>

    <table>
        <tr>
            <td style="font-weight: bold">Source</td>
            <td>{{ source.type }}&nbsp&nbsp|&nbsp&nbsp{{ source.name }}</td>
        </tr>
        <tr>
            <td style="font-weight: bold">Source Summary</td>
            <td>{{ source.summary }}</td>
        </tr>
        <tr>
            <td style="font-weight: bold">Reference</td>
            <td>{{ reference.english_text_location }}</td>
        </tr>
        <tr>
            <td style="font-weight: bold">Reference Note</td>
            <td>{{ reference.note }}</td>
        </tr>

    </table>
</details>
{% include "foot.html" %}