{% include "head.html" %}
{% include "menu.html" %}


<br>
<p style="text-align: center;">**********************<span
        style="font-weight: bold; text-align: center; font-size: 20pt">Lastest record</span>**********************</p>
<br>

<table>
    <tr>
        <td style="font-weight: bold">
            Source
        </td>
        <td>
            <p>
                |&nbsp&nbsp
                <a href="{{ web_url }}english/source_list/{{ source.type }}/">{{ source.type }}</a>
                &nbsp&nbsp|&nbsp&nbsp
                <a href="{{ web_url }}english/list_by_source/{{ source.id }}/">{{ source.name }}</a>
                &nbsp({{ last_reference.english_text_location }})&nbsp&nbsp|&nbsp&nbspID:&nbsp
                <a href="{{ web_url }}english/detail/{{ last_english_text.id }}/">{{ last_english_text.id }}</a>
                &nbsp&nbsp|
            </p>

        </td>
    </tr>
    <tr>
        <td style="font-weight: bold">
            Text
        </td>
        <td style="font-size: 30px;">
            {% for key, value in english_styled.items %}
                {{ value.english_text|safe }}
            {% endfor %}

        </td>
    </tr>
</table>
<br><br><br>

<br>
<p style="text-align: center;">**********************<span
        style="font-weight: bold; text-align: center; font-size: 20pt">Input record</span>**********************</p>
<br>


<details style="font-weight: bold; text-align: center">
    <summary>Read Text from Image</summary>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Upload</button>
    </form>

    {% if img_obj %}
        <h3>Succesfully uploaded : {{ img_obj.title }}</h3>
        <img src="{{ img_obj.image.url }}" alt="connect" style="max-height:300px">
    {% endif %}
<p>-----------------------------------------------------------------------------------------------</p>
</details><br>

<p style="font-weight: bold; text-align: center">
    |&nbsp&nbsp{{ source.type }}&nbsp&nbsp|&nbsp&nbsp{{ source.name }}&nbsp&nbsp|</p>

<form action="{{ web_url }}english/submit/" method="post"> {% csrf_token %}


    <br>


    <table>

        <tr>
            <td style="text-align: center">
                <p style="

                font-weight: bold">>>Reference<<</p>


                {% for item in reference_range %}

                    {% if forloop.first %}
                        <input type="radio" name="reference" checked="checked" value="{{ item.id }}"/>
                        -
                        {{ item.english_text_location }}&nbsp&nbsp
                    {% else %}<input type="radio" name="reference" value="{{ item.id }}"/>-
                        {{ item.english_text_location }}
                        &nbsp&nbsp
                    {% endif %}
                {% endfor %}
            </td>
        </tr>

        <tr>
            <td style="text-align: center">
                <p style="font-weight: bold">>>Text<<</p>
                <textarea style="font-size: 20pt" id=" " name="english_text" rows="6"
                          cols="100">{{ text_in_img }}</textarea>
                <br><br>
            </td>
        </tr>
        <tr>
            <td style="text-align: center">
                <p style="font-weight: bold">>>Note<<</p>
                <textarea style="font-size: 20pt" id=" " name="note" rows="4" cols="100"></textarea>
                <br><br>
            </td>
        </tr>
        {% for key, value in tag_dict.items %}
            <tr>
                <td style="width:100%">
                    <p style="font-weight: bold; font-size: 16pt;">{{ key }}</p>

                    {% for list_item in value %}
                        <details style="display: inline-block;vertical-align: text-top;">

                            <summary style="font-style: italic;">{{ list_item }}</summary>

                            {% for item in all_tag_list %}

                                {% if item.root == key %}

                                    {% if item.sub01 == list_item %}

                                        <input type="checkbox" name="tag_list" value="{{ item.id }}"
                                               id="{{ item.name }}"/>-
                                        {{ item.name }}&nbsp&nbsp&nbsp

                                        {% if item.sub01 != '学术类' and item.sub01 != '专业类' and item.sub01 != '语法类' %}
                                            <input type="text"
                                                   name="{{ item.id }}"
                                                   value=""
                                                   onchange="{this.value == '' ? document.getElementById('{{ item.name }}').checked='': document.getElementById('{{ item.name }}').checked='checked'}"
                                                   style="width:1600px; height:30px; font-size: 20pt"/>
                                        {% else %}
                                            <input type="hidden" name="{{ item.id }}" value=""/>

                                        {% endif %} <br>

                                    {% endif %}

                                {% endif %}

                            {% endfor %}
                        </details>
                        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    {% endfor %}

                </td>

            </tr>
        {% endfor %}
        <tr>
            <td>
                <p style="font-weight: bold; text-align: center">**********************<input type="submit"
                                                                                              value="Submit"/>**********************
            </td>
        </tr>
    </table>


</form>
{% include "foot.html" %}