{% include "head.html" %}
{% include "menu.html" %}


Tag:&nbsp&nbsp
{% for item in tag_set %}

    <a href="{{ web_url }}english/list_by_tag_get/{{ item.id }}/">{{ item.name }}</a>&nbsp&nbsp

{% endfor %}
<p>-----------------------------------------------------------------</p>

{% for key, value in english_dict.items %}
     <p>
    <a href="{{ web_url }}english/detail/{{ key }}/">
       {{ value.english_text|safe }} @id= {{ key }}
    </a>
    <audio controls style="width: 100px; height: 15px">
  <source src="{{MEDIA_URL}}english/text_to_speech/{{ value.audio_name }}" type="audio/mpeg">
Your browser does not support the audio element.
</audio>
    </p>
{% endfor %}


{% include "foot.html" %}