{% include "head.html" %}
{% include "menu.html" %}

Source:&nbsp&nbsp


<a href="{{ web_url }}english/list_by_source/{{ source.id }}/">{{ source.type }}&nbsp|&nbsp{{ source.name }}&nbsp by &nbsp{{ source.author }}</a>&nbsp&nbsp


<p>-----------------------------------------------------------------</p>
{% for key, value in english_dict.items %}
     <p>
    <a href="{{ web_url }}english/detail/{{ key }}/">
       {{ value.english_text|safe }} @id= {{ key }}
    </a>
    <audio controls style="width: 100px; height: 15px">
  <source src="{{MEDIA_URL}}english/text_to_speech/{{ value.audio_name }}" type="audio/mpeg">
Your browser does not support the audio element.
</audio>
    </p>
{% endfor %}


{% include "foot.html" %}