<div style="text-align: center; height: 50px;">
<p>|&nbsp&nbsp
    <a href="{{ web_url }}"><span>Index</span></a>
    &nbsp&nbsp|&nbsp&nbsp
    <a href="{{ web_url }}english/source_list/all/">Source List</a>
    &nbsp&nbsp|&nbsp&nbsp
    <a href="{{ web_url }}english/tag_list/0/">Entire Sentences</a>
    &nbsp&nbsp|&nbsp&nbsp
    <a href="{{ web_url }}english/element_review/0/">Sentence Elements</a>
    &nbsp&nbsp|&nbsp&nbsp
    <a href="{{ web_url }}english/word_bench/None/0/">Word Bench</a>
    &nbsp&nbsp|&nbsp&nbsp
    <a href="{{ web_url }}english/summary/">Summary</a>
    &nbsp&nbsp|&nbsp&nbsp
    <a href="{{ web_url }}english/summary/">Search</a>

</p>
</div>