{% include "head.html" %}
{% include "menu.html" %}


<span style="font-weight: bold">Source:</span>&nbsp
    <select onchange="self.location.href=options[selectedIndex].value">
        <option value="{{ web_url }}">--------</option>
        <option value="{{ web_url }}english/source_list/all/">All</option>
        {% for key, value in source_dict.items %}
            <option value="{{ web_url }}english/source_list/{{ key }}/">{{ key }}</option>

        {% endfor %}
   </select>

<p>*****************************************************************************************************</p>

<p style="font-weight: bold">>>{{ source_type }}<<</p>

<p>--------------------------------------------------------------</p>
{% for item in source %}

    <p>


        <a href="{{ web_url }}english/list_by_source/{{ item.id }}/">查看</a>
        &nbsp&nbsp|&nbsp&nbsp
        <a href="{{ web_url }}english/input/{{ item.id }}/">录入</a>
        &nbsp&nbsp@&nbsp&nbsp{{ item.name }}&nbsp ({{ item.author }})
       <!----> <a href="{{ web_url }}english/reference_list/{{ item.id }}/">查看/录入页码</a>
    </p>


{% endfor %}


{% include "foot.html" %}