{% include "head.html" %}
{% include "menu.html" %}

<p style="font-weight: bold; text-align: center">**********************笔记的原始信息**********************</p>

<table>

    <tr>
        <td style="font-weight: bold">Source</td>
        <td>
            <p style="font-weight: bold">
                |&nbsp&nbsp{{ source.type }}&nbsp&nbsp|&nbsp&nbsp{{ source.name }}&nbsp&nbsp|&nbsp&nbsp{{ reference_current.english_text_location }}&nbsp&nbsp|&nbsp&nbspID:&nbsp<a
                    href="{{ web_url }}english/detail/{{ english.id }}/">{{ english.id }}</a>&nbsp&nbsp|</p>
        </td>
    </tr>

    <tr>
        <td style="font-weight: bold">Text</td>
        <td style="font-size: 30px;">

            {% for key, value in english_dict.items %}

                {{ value.english_text|safe }}

            {% endfor %}

        </td>
    </tr>
    <tr>
        <td style="font-weight: bold">Lable:Notes</td>
        <td>
            {% for key, value in statistics_tag.items %}


                {{ key }}:&nbsp&nbsp{{ value.2 }}<br>


            {% endfor %}

        </td>
    </tr>

    <tr>
        <td style="font-weight: bold">Element</td>
        <td>
            {{ element2 }}

        </td>
    </tr>

    <tr>
        <td style="font-weight: bold">Notes</td>
        <td>
            {{ english.note }}

        </td>
    </tr>


</table>
<br><br><br>

<p style="font-weight: bold; text-align: center">**********************更新这条英语笔记**********************</p>

<form action="{{ web_url }}english/submit_update/{{ english.id }}/" method="post"> {% csrf_token %}


    <br><br>


    <table>

        <tr>
            <td style="text-align: center">
                <p style="font-weight: bold">>>位置<<</p>


                {% for item in reference_range %}

                    {% if forloop.first %}
                        <input type="radio" name="reference" checked="checked" value="{{ item.id }}"/>
                        -
                        {{ item.english_text_location }}&nbsp&nbsp
                    {% else %}<input type="radio" name="reference" value="{{ item.id }}"/>-
                        {{ item.english_text_location }}
                        &nbsp&nbsp
                    {% endif %}
                {% endfor %}
            </td>
        </tr>

        <tr>
            <td style="text-align: center">
                <p style="font-weight: bold">>>正文<<</p>
                <textarea style="font-size: 20pt" id=" " name="english_text" rows="6"
                          cols="100">{{ english.english_text }}</textarea>
                <br><br>
            </td>
        </tr>
        <tr>
            <td style="text-align: center">
                <p style="font-weight: bold">>>Note:<<</p>
                <textarea style="font-size: 20pt" id=" " name="note" rows="4" cols="100">{{ english.note }}</textarea>
                <br><br>
            </td>
        </tr>
        <tr>
            <td style="width:100%">
                {% for key, value in tag_dict.items %}

                    <span style="font-weight: bold; font-size: 16pt">{{ key }}:&nbsp</span>
                    <br><br>
                    {% for list_item in value %}
                        <details style="display: inline-block;vertical-align: text-top;">

                            <summary style="font-style: italic; font-weight: bold">{{ list_item }}</summary>

                            {% for item in all_tag_list %}

                                {% if item.root == key %}

                                    {% if item.sub01 == list_item %}

                                        <input type="checkbox" name="tag_list" id="{{ item.id}}" value="{{item.id}}"/>-
                                        {{ item.name }}&nbsp&nbsp&nbsp

                                        {% if item.sub01 != '学术类' and item.sub01 != '专业类' and item.sub01 != '语法类' %}
                                            <input style="width:1600px; height:30px; font-size: 20pt;text-align: left" type="text"
                                                   name="{{ item.id }}" value="{% for key, value in statistics_tag.items %}{% if key == item.name %}{{ value.2 }}{% endif %}{% endfor %}
                                             "/>


                                        {% else %}
                                            <input type="hidden" name="{{ item.id }}" value=""/>

                                        {% endif %} <br>

                                    {% endif %}

                                {% endif %}

                            {% endfor %}
                        </details>
                        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    {% endfor %}
                    <br><br>
                    <p style="text-align: center">
                        ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</p>
                    <br><br>

                {% endfor %}
            </td>

        </tr>
        <tr>
            <td>
                <p style="font-weight: bold; text-align: center">**********************<input type="submit"
                                                                                              value="Submit"/>**********************
            </td>
        </tr>
    </table>


</form>
{% include "foot.html" %}