{% include "head.html" %}
{% include "menu.html" %}

<script>
    //复选框的自动勾选；details列表的自动展开
    window.onload = function () {

        {% for key, value in statistics_tag.items %}
            document.getElementById("{{ key }}").checked = "checked";
        {% endfor %}

        {% for key, value in statistics_tag.items %}
            {% for item in all_tag_list %}
                {% if item.name == key %}
                    document.getElementById("{{ item.sub01 }}").open = true;
                {% endif %}
            {% endfor %}
        {% endfor %}
    }

</script>


</script>
<br>
<p style="text-align: center;">**********************<spanstyle="font-weight: bold; text-align: center; font-size: 20pt">Original record</span>**********************</p>
<br>
<table>

    <tr>
        <td style="font-weight: bold">Source</td>
        <td>
            <p style="">
                |&nbsp&nbsp<a href="{{ web_url }}english/source_list/{{ source.type }}/">{{ source.type }}</a>&nbsp&nbsp
                |&nbsp&nbsp<a href="{{ web_url }}english/list_by_source/{{ source.id }}/">{{ source.name }}</a>&nbsp
                ({{ reference_current.english_text_location }})&nbsp
                |&nbsp&nbspID:&nbsp<a href="{{ web_url }}english/detail/{{ english.id }}/">{{ english.id }}</a>&nbsp&nbsp|
            </p>
        </td>
    </tr>

    <tr>
        <td style="font-weight: bold">Text</td>
        <td style="font-size: 30px;">

            {% for key, value in english_dict.items %}

                {{ value.english_text|safe }}

            {% endfor %}

        </td>
    </tr>
    <tr>
        <td style="font-weight: bold; vertical-align: middle">Analysis</td>
        <td>
            {% for key, value in statistics_tag.items %}

                {{ key }}:&nbsp&nbsp{{ value.2 }}<br>

            {% endfor %}

        </td>
    </tr>

    <tr>
        <td style="font-weight: bold">Element</td>
        <td>
            {% for item in element2 %}

                &nbsp|&nbsp{{ item.text }}

            {% endfor %}

        </td>
    </tr>

    <tr>
        <td style="font-weight: bold">Notes</td>
        <td>
            {{ english.note }}

        </td>
    </tr>


</table>

<br><br>
<p style="text-align: center;">**********************<span
        style="font-weight: bold; text-align: center; font-size: 20pt">To update</span>**********************</p>
<br>
<form action="{{ web_url }}english/submit_update/{{ english.id }}/" method="post"> {% csrf_token %}


    <table>

        <tr>
            <td style="text-align: center">
                <details style="display: inline-block;vertical-align: text-top;">
                    <summary>
                        <span style="font-weight: bold">>>Reference<<</span>
                    </summary>

                    {% for item in reference_range %}

                        {% if forloop.first %}
                            <input type="radio" name="reference" checked="checked" value="{{ item.id }}"/>
                            -
                            {{ item.english_text_location }}&nbsp&nbsp
                        {% else %}<input type="radio" name="reference" value="{{ item.id }}"/>-
                            {{ item.english_text_location }}
                            &nbsp&nbsp
                        {% endif %}
                    {% endfor %}
                </details>
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp

                <details style="display: inline-block;vertical-align: text-top;">
                    <summary>
                        <span style="font-weight: bold">>>Text<<</span>
                    </summary>
                    <textarea style="font-size: 20pt" id=" " name="english_text" rows="6"
                              cols="100">{{ english.english_text }}</textarea>
                </details>
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp

                <details style="display: inline-block;vertical-align: text-top;">
                    <summary>
                        <span style="font-weight: bold">>>Notes<<</span>
                    </summary>
                    <textarea style="font-size: 20pt" id=" " name="note" rows="4"
                              cols="100">{{ english.note }}</textarea>
                </details>
            </td>
        </tr>

        {% for key, value in tag_dict.items %}
            <tr>
                <td style="width:100%">

                    <p style="font-weight: bold; font-size: 16pt;">{{ key }}</p>

                    {% for list_item in value %}
                        <details id="{{ list_item }}" style="display: inline-block;vertical-align: text-top;">

                            <summary style="font-style: italic;">{{ list_item }}</summary>

                            {% for item in all_tag_list %}

                                {% if item.root == key %}

                                    {% if item.sub01 == list_item %}

                                        <input type="checkbox" name="tag_list" id="{{ item.name }}"
                                               value="{{ item.id }}"/>-
                                        {{ item.name }}&nbsp&nbsp&nbsp

                                        {% if item.sub01 != '学术类' and item.sub01 != '专业类' and item.sub01 != '语法类' %}
                                            <input style="width:1600px; height:30px; font-size: 20pt;text-align: left"
                                                   type="text"
                                                   name="{{ item.id }}"
                                                   id="{{ item.id }}"
                                                   onchange="{this.value == '' ? document.getElementById('{{ item.name }}').checked='': document.getElementById('{{ item.name }}').checked='checked'}"
                                                   value="
                                                           {% for key, value in statistics_tag.items %}{% if key == item.name %}{{ value.2 }}{% endif %}{% endfor %}"/>



                                        {% else %}
                                            <input type="hidden" name="{{ item.id }}" value=""/>

                                        {% endif %} <br>

                                    {% endif %}

                                {% endif %}

                            {% endfor %}
                        </details>
                        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    {% endfor %}
                </td>

            </tr>

        {% endfor %}

        <tr>
            <td>
                <p style="font-weight: bold; text-align: center">**********************<input type="submit"
                                                                                              value="Submit"/>**********************
            </td>
        </tr>
    </table>


</form>
{% include "foot.html" %}