{% include "head.html" %}
{% include "menu.html" %}
<p>*****************************************************************************************************</p>
|&nbsp&nbsp
<a href="{{ web_url }}english/list_by_word/all/"> List by Word </a>
&nbsp&nbsp|&nbsp&nbsp<a href="{{ web_url }}">近义词</a>
&nbsp&nbsp|&nbsp&nbsp<a href="{{ web_url }}">形近词</a>
&nbsp&nbsp|&nbsp&nbsp<a href="{{ web_url }}">贬义词</a>
&nbsp&nbsp|&nbsp&nbsp<a href="{{ web_url }}">褒义词</a>
&nbsp&nbsp|&nbsp&nbsp<a href="{{ web_url }}">中性词</a>
&nbsp&nbsp|

<p>*****************************************************************************************************</p>
<span style="font-weight: bold">Source:</span>&nbsp
    <select onchange="self.location.href=options[selectedIndex].value">
        <option value="{{ web_url }}">--------</option>
        <option value="{{ web_url }}english/word_bench/source/all/">All</option>
        {% for key, value in source_dict.items %}
            <option value="{{ web_url }}english/word_bench/source/{{ key }}/">{{ key }}</option>

        {% endfor %}
   </select>
<p>---------------------------------------------------------------------------------------------------------</p>

<form action="{{ web_url }}english/word_bench/tag/post/" method="post"> {% csrf_token %}
                {% for key, value in tag_dict.items %}
                    <span style="font-weight: bold; font-size: 16pt">{{ key }}:&nbsp</span>

                    {% for list_item in value %}
                        <details style="display: inline-block;vertical-align: text-top;">

                            <summary style="font-style: italic; font-weight: bold">{{ list_item }}</summary>

                            {% for item in all_tag_list %}

                                {% if item.root == key %}

                                    {% if item.sub01 == list_item %}

                                        <input type="checkbox" name="tag_list" value="{{ item.id }}"/>-
                                        {{ item.name }}&nbsp&nbsp&nbsp


                                    {% endif %}

                                {% endif %}

                            {% endfor %}
                        </details>
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    {% endfor %}

<br>
                {% endfor %}
<br>
    <span><input type="radio" name="intersect" value="yes"/>&nbsp&nbsp交集&nbsp&nbsp&nbsp&nbsp</span>
    <span><input type="radio" name="intersect" value="no" checked="checked"/>&nbsp&nbsp并集</span>
    <span><input type="radio" name="method" value="tag" checked="checked"/>标签类型</span>
<span style="font-weight: bold; text-align: center">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<input type="submit" value="Submit"/></span>
</form>
<p>*****************************************************************************************************</p>
<p style="font-weight: bold; text-align: center">
    ----------------------------------------------Noun----------------------------------------------</p>
{% for key, value in new_dict.items %}
    {% if key in nn %}

        <p style="font-weight: bold">>>> {{ key }} <<<</p>
        |&nbsp
        {% for item in value %}
            <a href="{{ web_url }}english/detail/{{ item.id }}/">{{ item.key_words }}</a>&nbsp&nbsp|
        {% endfor %}
        <br><br>
    {% endif %}
{% endfor %}
<br><br>
<p style="font-weight: bold; text-align: center">
    ----------------------------------------------Verb----------------------------------------------</p>
{% for key, value in new_dict.items %}
    {% if key in vb %}

        <p style="font-weight: bold">>>> {{ key }} <<<</p>
        |&nbsp
        {% for item in value %}
            <a href="{{ web_url }}english/detail/{{ item.id }}/">{{ item.key_words }}</a>&nbsp&nbsp|
        {% endfor %}
        <br><br>
    {% endif %}
{% endfor %}
<br><br>
<p style="font-weight: bold; text-align: center">
    ----------------------------------------------Adjective----------------------------------------------</p>
{% for key, value in new_dict.items %}
    {% if key in jj %}

        <p style="font-weight: bold">>>> {{ key }} <<<</p>
        |&nbsp
        {% for item in value %}
            <a href="{{ web_url }}english/detail/{{ item.id }}/">{{ item.key_words }}</a>&nbsp&nbsp|
        {% endfor %}
        <br><br>
    {% endif %}
{% endfor %}
<br><br>
<p style="font-weight: bold; text-align: center">
    ----------------------------------------------Adverb----------------------------------------------</p>
{% for key, value in new_dict.items %}
    {% if key in rb %}

        <p style="font-weight: bold">>>> {{ key }} <<<</p>
        |&nbsp
        {% for item in value %}
            <a href="{{ web_url }}english/detail/{{ item.id }}/">{{ item.key_words }}</a>&nbsp&nbsp|
        {% endfor %}
        <br><br>
    {% endif %}
{% endfor %}
<br><br>
<p style="font-weight: bold; text-align: center">----------------------------------------------Preposition &
    conjunction----------------------------------------------</p>
{% for key, value in new_dict.items %}
    {% if key in prep_conj %}

        <p style="font-weight: bold">>>> {{ key }} <<<</p>
        |&nbsp
        {% for item in value %}
            <a href="{{ web_url }}english/detail/{{ item.id }}/">{{ item.key_words }}</a>&nbsp&nbsp|
        {% endfor %}
        <br><br>
    {% endif %}
{% endfor %}
<br><br>
<p style="font-weight: bold; text-align: center">
    ----------------------------------------------Others----------------------------------------------</p>
{% for key, value in new_dict.items %}
    {% if key in others %}

        <p style="font-weight: bold">>>> {{ key }} <<<</p>
        |&nbsp
        {% for item in value %}
            <a href="{{ web_url }}english/detail/{{ item.id }}/">{{ item.key_words }}</a>&nbsp&nbsp|
        {% endfor %}
        <br><br>
    {% endif %}
{% endfor %}


{% include "foot.html" %}