{% include "head.html" %}
{% include "menu.html" %}
<p>*****************************************************************************************************</p>
Source:&nbsp
    <select onchange="self.location.href=options[selectedIndex].value">
        <option value="{{ web_url }}english/word_bench/0/">All</option>
        <option value="{{ web_url }}english/word_bench/1/">Novels</option>
        <option value="{{ web_url }}english/word_bench/2/">Poems</option>
        <option value="{{ web_url }}english/word_bench/3/">Reference books</option>
        <option value="{{ web_url }}english/word_bench/4/">Autobiography</option>
        <option value="{{ web_url }}english/word_bench/5/">Diary</option>
        <option value="{{ web_url }}english/word_bench/6/">Textbook</option>
        <option value="{{ web_url }}english/word_bench/7/">Elon Mush</option>
        <option value="{{ web_url }}english/word_bench/8/">王德中Cyrus</option>
        <option value="{{ web_url }}english/word_bench/9/">Review Papers</option>
        <option value="{{ web_url }}english/word_bench/10/">Research Papers</option>
    </select>
<p>*****************************************************************************************************</p>
<form action="{{ web_url }}english/word_bench/tag/0/" method="post"> {% csrf_token %}
                {% for key, value in tag_dict.items %}
                    <span style="font-weight: bold">{{ key }}:&nbsp</span>

                    {% for list_item in value %}
                        <details style="display: inline-block;vertical-align: text-top;">

                            <summary>{{ list_item }}</summary>

                            {% for item in all_tag_list %}

                                {% if item.root == key %}

                                    {% if item.sub01 == list_item %}

                                        <input type="checkbox" name="tag_list" value="{{ item.id }}"/>
                                        {{ item.name }}


                                    {% endif %}

                                {% endif %}

                            {% endfor %}
                        </details>
&nbsp&nbsp
                    {% endfor %}


                {% endfor %}
<br><br>
    <span><input type="radio" name="intersect" value="yes"/>&nbsp&nbsp交集&nbsp&nbsp&nbsp&nbsp</span>
    <span><input type="radio" name="intersect" value="no" checked="checked"/>&nbsp&nbsp并集</span>
    <span><input type="radio" name="type" value="tag" checked="checked"/>标签类型</span>
<span style="font-weight: bold; text-align: center">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<input type="submit" value="Submit"/></span>
</form>
<p>*****************************************************************************************************</p>

<br><br>
|&nbsp&nbsp<a href="{{ web_url }}english/list_by_word/all/"> List by Word </a>&nbsp&nbsp|
<br><br>
<p style="font-weight: bold; text-align: center">
    ----------------------------------------------Noun----------------------------------------------</p>
{% for key, value in new_dict.items %}
    {% if key in nn %}

        <p style="font-weight: bold">>>> {{ key }} <<<</p>
        |&nbsp
        {% for item in value %}
            <a href="{{ web_url }}english/detail/{{ item.id }}/">{{ item.key_words }}</a>&nbsp&nbsp|
        {% endfor %}
        <br><br>
    {% endif %}
{% endfor %}
<br><br>
<p style="font-weight: bold; text-align: center">
    ----------------------------------------------Verb----------------------------------------------</p>
{% for key, value in new_dict.items %}
    {% if key in vb %}

        <p style="font-weight: bold">>>> {{ key }} <<<</p>
        |&nbsp
        {% for item in value %}
            <a href="{{ web_url }}english/detail/{{ item.id }}/">{{ item.key_words }}</a>&nbsp&nbsp|
        {% endfor %}
        <br><br>
    {% endif %}
{% endfor %}
<br><br>
<p style="font-weight: bold; text-align: center">
    ----------------------------------------------Adjective----------------------------------------------</p>
{% for key, value in new_dict.items %}
    {% if key in jj %}

        <p style="font-weight: bold">>>> {{ key }} <<<</p>
        |&nbsp
        {% for item in value %}
            <a href="{{ web_url }}english/detail/{{ item.id }}/">{{ item.key_words }}</a>&nbsp&nbsp|
        {% endfor %}
        <br><br>
    {% endif %}
{% endfor %}
<br><br>
<p style="font-weight: bold; text-align: center">
    ----------------------------------------------Adverb----------------------------------------------</p>
{% for key, value in new_dict.items %}
    {% if key in rb %}

        <p style="font-weight: bold">>>> {{ key }} <<<</p>
        |&nbsp
        {% for item in value %}
            <a href="{{ web_url }}english/detail/{{ item.id }}/">{{ item.key_words }}</a>&nbsp&nbsp|
        {% endfor %}
        <br><br>
    {% endif %}
{% endfor %}
<br><br>
<p style="font-weight: bold; text-align: center">----------------------------------------------Preposition &
    conjunction----------------------------------------------</p>
{% for key, value in new_dict.items %}
    {% if key in prep_conj %}

        <p style="font-weight: bold">>>> {{ key }} <<<</p>
        |&nbsp
        {% for item in value %}
            <a href="{{ web_url }}english/detail/{{ item.id }}/">{{ item.key_words }}</a>&nbsp&nbsp|
        {% endfor %}
        <br><br>
    {% endif %}
{% endfor %}
<br><br>
<p style="font-weight: bold; text-align: center">
    ----------------------------------------------Others----------------------------------------------</p>
{% for key, value in new_dict.items %}
    {% if key in others %}

        <p style="font-weight: bold">>>> {{ key }} <<<</p>
        |&nbsp
        {% for item in value %}
            <a href="{{ web_url }}english/detail/{{ item.id }}/">{{ item.key_words }}</a>&nbsp&nbsp|
        {% endfor %}
        <br><br>
    {% endif %}
{% endfor %}


{% include "foot.html" %}